html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: arial;
    line-height: 1.6;
    color: #4C4A48;
    min-width: 320px;
}
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 0 0.8em 0;
    margin: 0;
    color: rgb(27, 27, 27);
    font-weight: 400;
    line-height: 1.6;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.875rem;
}
h6 {
    font-size: 0.75rem;
}

.page-title {
    color: #55397E;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

/* inputs and buttons */

input[type="text"] {
    border: 2px solid #cccccc;
    padding: 0 0.5rem;
    height: 2.2rem;
    font-size: inherit;
    transition: border .3s ease-in-out;
    border-radius: .3rem;
}
input[type="text"]:focus {
    border: 2px solid #55397E;
    outline: none;
}
input[type="submit"] {
    vertical-align: top;
    height: 2.2rem;
    border: 0;
    background-color: #55397E;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
input[type="submit"]:hover {
    background-color: #67459b;
}
button {
    cursor: pointer;
}