/* Container */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

main.container{
  padding-bottom: 2rem;
}

.products {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

@include md {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}
@include lg {
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer {
  background-color: #55397e;
  padding: 2rem 0;
  margin-top: auto;
}